/*---------- Content ----------*/

.content {
    position: relative;
    height: calc(100vh - 70px);
    background-color: #fff;
}

    .content .gird-content {
        position: absolute;
        top: 50px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    .content .title-content {
        height: 50px;
        display: flex;
        padding-left: 10px;
        justify-content: space-between;
    }

        .content .title-content .page-title {
            display: flex;
            align-items: center;
        }

            .content .title-content .page-title h1 {
                margin: 5px 0;
                font-size: 22px;
                font-weight: normal;
                line-height: 50px;
            }

                .content .title-content .page-title h1:after {
                    content: '\e804';
                    font-family: "Globe-2";
                    font-size: 16px;
                    color: #0973b9;
                    padding: 0 15px;
                }

            .content .title-content .page-title p {
                margin: 5px 0;
                font-size: 16px;
                color: #0973b9;
            }

        .content .title-content .setting {
            display: flex;
            align-items: center;
        }

            .content .title-content .setting button {
                display: flex;
                background-color: #fff;
                border-image: initial;
                border: 1px solid buttonface;
                border-color: #9898989e;
                justify-content: center;
                align-items: center;
                padding: 8px 15px;
                margin: 0 8px;
            }

                .content .title-content .setting button:hover, .content .title-content .setting button:focus {
                    border-color: #0071c1;
                    outline: none;
                    background-image: -webkit-linear-gradient(top,#eff0ec00,#e4e4e4);
                }

            .content .title-content .setting .icon-feedback {
                display: block;
                width: 15px;
                height: 15px;
                padding-right: 10px;
                background: url('/content/imgs/viewEmail.png') no-repeat;
            }
