@media screen and (max-width: 800px) {
    .navbar .header {
    }

        .navbar .header .select-language {
            display: none;
            width: 150px;
        }

        .navbar .header .select-restaurant {
            flex-grow: 0;
        }

        .navbar .header select {
            width: 140px;
        }

    .main {
    }

        .main .menu {
            width: 0px;
        }

        .main .content {
            width: 100%;
        }
}

@media screen and (max-width: 650px) {
    .call-support, .main .content .setting, #btnMerge {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    #btnImport, #btnExport {
        display: none;
    }
}
