.dialog-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #808080;
    opacity: 0.5;
}

/*------------ Dialog chi tiết ------------*/
.dialog {
    display: none;
    position: absolute;
    width: 710px;
    height: 400px;
    border-radius: 3px;
    background-color: #fff;
    top: calc(50% - 225px);
    left: calc(50% - 365px);
    right: 0;
    bottom: 0;
    border: 4px solid #0973b9;
}

    .dialog .dialog-title {
        height: 25px;
        background-color: #0973b9;
        display: flex;
        align-items: center;
        padding: 0 0 3px 10px;
        font-size: 15px;
    }

        .dialog .dialog-title .title-text {
            color: #fff;
        }

        .dialog .dialog-title .title-close-button {
            position: absolute;
            border: 1px solid #ccc;
            border-radius: 50%;
            right: 5px;
            width: 16px;
            height: 16px;
            background-image: url('/content/imgs/cancel.png');
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

    .dialog .dialog-body {
        padding: 4px 10px;
        background-color: #fff;
        height: calc(100% - 85px);
    }

        .dialog .dialog-body .title-group {
            font-weight: bold;
            border-bottom: 1px solid #dedede;
            padding-bottom: 4px;
            margin-bottom: 8px;
        }

        .dialog .dialog-body .group-infor {
            width: 100%;
        }

            .dialog .dialog-body .group-infor .row {
                margin: 4px 0;
                display: flex;
                align-items: center;
            }

            .dialog .dialog-body .group-infor .label-left {
                display: inline-block;
                width: 150px;
            }

            .dialog .dialog-body .group-infor .label-right {
                margin-left: 8px;
                width: 130px;
            }

            .dialog .dialog-body .group-infor .input-default {
                padding: 0px 4px;
                border-radius: 0;
                height: 24px;
                box-shadow: none;
                border: 1px solid #ccc;
                width: 100%;
                margin-left: 1px;
            }

                .dialog .dialog-body .group-infor .input-default:focus {
                    border: 1px solid #0071c1;
                    outline-offset: unset !important;
                    outline: none !important;
                }

            .dialog .dialog-body .group-infor .flex-right {
                flex: 1;
            }

            .dialog .dialog-body .group-infor .flex-left {
                margin-left: -28px;
                width: 190px;
            }

            .dialog .dialog-body .group-infor textarea {
                resize: none;
                height: 55px !important;
                padding: 3px 4px !important;
                font: 400 13.3333px Arial;
            }

            .dialog .dialog-body .group-infor [type="date"] {
                font: 400 13.3333px Arial;
            }

            .dialog .dialog-body .group-infor #txtCustomerMoney, .dialog .dialog-body .group-infor #txtEmployeeSalary {
                text-align: right;
            }

    .dialog .dialog-footer {
        display: flex;
        height: 40px;
        width: 100%;
        border-top: 1px solid #ccc;
        position: absolute;
        bottom: 0;
    }

        .dialog .dialog-footer .footer-left {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            padding-left: 4px;
            order: 1;
        }

        .dialog .dialog-footer .footer-right {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            padding-right: 5px;
            order: 2;
        }

        .dialog .dialog-footer button {
            width: 85px;
            height: 28px;
            padding: 2px 5px;
            margin: 5px;
            display: flex;
            background-color: #fff;
            border-image: initial;
            border: 1px solid buttonface;
            justify-content: center;
            align-items: center;
        }

            .dialog .dialog-footer button:hover,
            .dialog .dialog-footer button:focus {
                border-color: #0071c1;
                outline: none;
                background-image: -webkit-linear-gradient(top,#eff0ec,#e1f2e9);
            }

        .dialog .dialog-footer #btnSaveAdd {
            width: 110px;
        }

        .dialog .dialog-footer .btn-icon {
            width: 16px;
            height: 16px;
            align-self: center;
            margin-right: 4px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .dialog .dialog-footer .btn-icon-help {
            background-image: url('/content/imgs/IconSprite.png');
            background-position: 0-1600px !important;
        }

        .dialog .dialog-footer .btn-icon-save {
            background-image: url('/content/imgs/Save16.png');
        }

        .dialog .dialog-footer .btn-icon-saveadd {
            background-image: url('/content/imgs/Save16.png');
        }

        .dialog .dialog-footer .btn-icon-cancel {
            background-image: url('/content/imgs/disable16.png');
        }

/*------------ Return press Tab ------------*/
#btnReturn {
    width: 0;
    height: 0;
    padding: 0;
}

/*------------ Hiển thị lỗi nhập thông tin ------------*/
.required-error {
    border: 1px solid #ff0000 !important;
}

/*------------ Lựa chọn hàng ------------*/
.row-selected {
    background-color: #bfd1fe !important;
}

/*------------ Dialog xác nhận Delete ------------*/
.dialog-delete-confirm {
    display: none;
    position: absolute;
    width: 300px;
    height: 120px;
    border-radius: 3px;
    background-color: #fff;
    top: 25%;
    left: calc(50% - 125px);
    right: 0;
    bottom: 0;
    border: 4px solid #0973b9;
}

    .dialog-delete-confirm .dialog-title {
        height: 25px;
        background-color: #0973b9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 3px;
    }

    .dialog-delete-confirm .title-left {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #fff;
    }

    .dialog-delete-confirm .confirm-close-button {
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-image: url('/content/imgs/cancel.png');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .dialog-delete-confirm .dialog-body {
        height: calc(100% - 25px);
    }

    .dialog-delete-confirm .dialog-text {
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        height: 40px;
    }

    .dialog-delete-confirm .icon-confirm {
        width: 23px;
        height: 15px;
        background: url('/content/imgs/exclamation.png') no-repeat;
        background-size: auto;
    }

    .dialog-delete-confirm .confirm {
        display: flex;
        justify-content: space-around;
    }

        .dialog-delete-confirm .confirm button {
            width: 95px;
            height: 35px;
            padding: 2px 5px;
            margin: 5px;
            display: flex;
            background-color: #ededed;
            border-image: initial;
            border: 1px solid #ccc;
            justify-content: center;
            align-items: center;
        }

            .dialog-delete-confirm .confirm button:hover,
            .dialog-delete-confirm .confirm button:focus {
                border-color: #0071c1;
                outline: none;
                background-image: -webkit-linear-gradient(top,#eff0ec,#e1f2e9);
            }
