/**
    * Author: NKĐạt
    * Date: 2/10/2020
    * */
/*---------- Phân Trang Footer ----------*/

.paging {
    display: flex;
    justify-content: space-between;
}

    .paging .left {
        display: flex;
        align-items: center;
    }

    .paging .right {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    /*---------- Left ----------*/

    .paging .left .icon-first {
        background: url('/content/imgs/grid/page-first.png') no-repeat;
    }

    .paging .left .icon-prev {
        background: url('/content/imgs/grid/page-prev.png') no-repeat;
    }

    .paging .left .icon-next {
        background: url('/content/imgs/grid/page-next.png') no-repeat;
    }

    .paging .left .icon-last {
        background: url('/content/imgs/grid/page-last.png') no-repeat;
    }

    .paging .left .icon-refresh {
        background: url('/content/imgs/grid/refresh.png') no-repeat;
    }

    .paging .left .icon {
        width: 25px;
        height: 21px;
        background-position: center;
    }

    .paging .left button {
        display: flex;
        align-items: center;
        border-radius: unset;
        border: 1px solid transparent;
        background-color: #fff;
        margin-right: 5px;
    }

        .paging .left button:focus {
            outline: none;
            border: 1px solid #999999;
        }

        .paging .left button:hover {
            background-color: #EFEFEF;
            cursor: pointer;
            border: 1px solid #999999;
        }

    .paging select {
        background-color: #ecececc7 !important;
    }

    .paging .pop {
        position: relative;
    }

        .paging .pop label {
            margin-right: 10px;
        }

    /*    Nhập số trang*/

    .paging .input-paging label {
        margin-right: 10px;
    }

    .paging .left .select-paging {
        padding: 0px 7px;
        border-radius: 0;
        height: 23px;
        width: 60px;
        box-shadow: none;
        border: 1px solid #ccc;
    }

        .paging .left .select-paging:focus {
            outline-offset: unset !important;
            outline: none !important;
        }

    .paging .input-paging input {
        padding: 0px 4px;
        border-radius: 0;
        height: 21px;
        width: 50px;
        box-shadow: none;
        border: 1px solid #ccc;
        margin-right: 10px;
    }

        .paging .input-paging input:focus {
            outline-offset: unset !important;
            outline: none !important;
        }

    /*        Thanh ngăn cách*/
    .paging .seperate {
        width: 1px;
        height: 16px;
        background-color: #999999;
        margin-right: 10px;
        margin-left: 5px;
    }
