@media screen and (max-width: 1024px) {
    .header .notice-box {
        justify-content: flex-end;
        margin-right: 5px;
    }

    .navbar .header .select-language {
        display: none;
    }

    .paging .right {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar .header {
    }
   
        .navbar .header .select-restaurant {
            flex-grow: 0;
        }

        .navbar .header select {
            width: 140px;
        }

    .main {
    }

        .main .menu {
            width: 0px;
        }

        .main .content {
            width: 100%;
        }

    
}

@media screen and (max-width: 660px) {
    .main .content .setting, #btnMerge, .navbar .header .select-restaurant {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    #btnImport, #btnExport {
        display: none;
    }
}
